body {
    /* background-image: url(images/event.jpg); */
   
}
.nav-wrapper{
     background-image: url(images/event.jpg);
}

.eventImage{
    width: 75px;
    height: 50px;

}  



.ticketButton{
    /* display: block; */
    /* margin: 0 auto; */
    width: 100%; 
    display: block;
    margin: 0 auto; 
    border: 2px solid grey;
    border-radius: 5px;
    background: mediumblue;
    padding-right: 50px;
    padding-bottom: 30px;


}


.nav-wrapper {
    text-align: center;
    color: #A90000;
    background-color: #F9F9FC;
    padding: 20px;

}
    
#search {
    width: 20%;
 display: block;
 margin: 0 auto;
 border: 2px solid grey;
 border-radius: 5px;
}

#concertInfo {
background-color: #A90000;
}

#restaurantInfo {
    background-color: #4D0103;
}










